{% extends "base.html" %}

{% block content %}
{{ super() }}
{% if page and page.meta and page.meta.template %}
<div id="waline-container" style="margin-top: 80px;padding-top: 12px;"></div>
{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />
<style>
    .md-grid {
        max-width: 1200px;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if page and page.meta and page.meta.template %}
<div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      serverURL: 'https://your-domain.vercel.app',
    });
  </script>
{% endif %}
{% endblock %}
